* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body header {
  background-color: #27CEB9;
  padding: 20px;
  text-align: center;

  & h1 {
    font-weight: 800;
  }
}

body .contenedor {
  max-width: 1920px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
}

body .contenedor .menu {
  width: 50%;
  gap: 50px;
}

body .contenedor .menu h2 {
  font-weight: 600;
  margin: 30px 0 10px 0;
}

body .contenedor .menu button {
  width: 100%;
  background: none;
  border: 2px solid #27CEB9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.1rem;

  &:hover {
    background-color: #27CEB9;
    color: #fff;
  }
}

body .contenedor .menu button p {
  font-weight: 600;
}

body .contenedor .menu button span {
  font-weight: 800;
}

body .contenedor .factura {
  width: 50%;
  margin: 10px 0;
}

body .contenedor .factura .contenedor-factura h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

body .contenedor .factura .contenedor-factura {
  border: 2px dotted #cbc8c8ba;
  padding: 20px;
}

body .contenedor .factura .contenedor-factura .item-agregado {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px;
  border-bottom: 1px solid #cbc8c8ba;

  &:last-child {
    border-bottom: none;
  }

  & p {
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
  }

  & span {
    font-weight: 700;
  }
}

body .contenedor .factura .contenedor-factura .contenedor-items {
  border-top: 1px solid #cbc8c8ba;
  border-bottom: 1px solid #cbc8c8ba;
}

body .contenedor .factura .contenedor-factura .item-agregado button {
  background: none;
  background-color: red;
  padding: 0 20px;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
}